* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main__container {
    overflow-x: hidden;
}

.home-page__background__container {
    width: 100vw;
    height: 35em;
    position: relative;
}
.home-page__background__header {
    font-family: 'Poppins', sans-serif;
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: 3;
    font-size: 3.2rem;
}
.home-page__background__header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    z-index: -1;
}
.background__img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.nav__bar {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 50px;
    background-color: rgb(248, 248, 248);
    padding: 0 13% 0 13%;
    z-index: 5;
    -webkit-box-shadow: 0px 8px 42px -20px rgba(3, 3, 3, 1);
    -moz-box-shadow: 0px 8px 42px -20px rgba(3, 3, 3, 1);
    box-shadow: 0px 8px 42px -20px rgba(3, 3, 3, 1);
}
.nav__bar a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: rgb(36, 36, 36);
    transition: all 0.2s ease;
}
.nav__bar a:hover {
    color: rgb(1, 68, 144);
}

.instructions__container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 236, 245);
    align-items: center;
}
.instruction {
    border: 0;
    width: 60vw;
    height: 15rem;
    margin: 1rem;
    background: rgb(155,160,233);
    background: linear-gradient(129deg, rgba(155,160,233,0.7) 0%, rgba(143, 144, 245, 0.7) 48%, rgba(142, 136, 251, 0.7) 100%);
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 3rem;
    border-radius: 3rem;
    -webkit-box-shadow: 0px 7px 42px -20px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 7px 42px -20px rgba(66, 68, 90, 1);
    box-shadow: 0px 7px 42px -20px rgba(66, 68, 90, 1);
}
.description {
    font-family: 'Nunito', sans-serif;
    color: rgb(42, 42, 42);
    font-size: 2rem;
    flex: 1;
    text-align: center;
}
.instruction__img {
    height: 70%;
    flex: 1;
    object-fit: contain;
    filter: drop-shadow(5px 10px 13px rgb(102, 102, 102));
}
.reverse {
    flex-direction: row-reverse;
    padding: 1rem 4rem 1rem 1rem;
}

.go-to-editor__wrapper {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    width: 90vw;
    text-align: center;
    align-items: center;
}
.go-to-editor__header {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.go-to-editor__btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgb(231, 229, 229);
    text-decoration: none;
    font-size: 1.5rem;
    background-color: rgb(127, 131, 190);
    width: 14ch;
    padding: 0.5rem;
    transition: all 0.5s ease;
}
.go-to-editor__btn:hover {
    -webkit-box-shadow: inset 0px 0px 0px 6px rgba(127, 131, 190, 1);
    -moz-box-shadow: inset 0px 0px 0px 6px rgba(127, 131, 190, 1);
    box-shadow: inset 0px 0px 0px 6px rgba(127, 131, 190, 1);
    background-color: transparent;
    color: rgb(127, 131, 190);
}


/* MEDIA SCREEN */

@media screen and (max-width: 900px) {
    /* .home-page__background__container {
        height: 30em;
    }
    .instruction {
        width: 80vw;
    }
    .description {
        font-size: 1.7rem;
    }
    .go-to-editor__header {
        font-size: 2.5rem;
    } */
    html {
        font-size: 14px;
    }
    .instruction {
        width: 80vw;
    }
}

@media screen and (max-width: 570px) {
    html {
        font-size: 11px;
    }
    .instruction {
        width: 85vw;
    }
}

@media screen and (max-width: 430px) {
    html {
        font-size: 7px;
    }
    .nav__bar {
        padding: 0;
    }
    .nav__bar a {
        font-size: 1.2em;
    }
}